.wrapper {
  margin: 1rem;
  padding-top: 4rem;
}

.control {
  margin-bottom: 1rem;
}

.colorPicker {
  margin-bottom: 1rem;
}

.controlHeading {
  margin: .25rem 0;
  font-size: .8rem;
  text-transform: uppercase;
}

.fgChooser,
.sizeChooser {
  margin-bottom: .125rem;
}

.fgChooser label,
.sizeChooser label {
  margin-left: .5rem;
}
