:root {
  --near-black: #111111;
  --near-white: #F4F4F4;
}

.wrapper {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  background-color: var(--near-black);
  padding: 1rem;
}

.title {
  margin: 0;
  font-size: 1rem;
}

.logo {
  color: var(--near-white);
  text-decoration: none;
}

.actions {
  display: flex;
}

:root {
  --near-white: #F4F4F4;
  --light-green: #9EEBCF;
}

.link {
  border-bottom: 1px dotted var(--near-white);
  text-decoration: none;
  color: var(--near-white);
}

.link:hover {
  color: var(--light-green);
  border-bottom-color: var(--light-green);
  cursor: pointer;
}

@media print {
  .wrapper {
    display: none;
  }

  .logo {
    display: none;
  }
}

