:root {
  --near-black: #111111;
  --near-white: #F4F4F4;
}

.wrapper {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  background-color: var(--near-black);
  padding: 1rem;
}

.title {
  margin: 0;
  font-size: 1rem;
}

.logo {
  color: var(--near-white);
  text-decoration: none;
}

@media print {
  .wrapper {
    display: none;
  }

  .logo {
    display: none;
  }
}

